<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<br>
<div class="container">
 <!-- Top row with form-->
 <div class="row">
	 <div class="col-8">
			<form class="form-inline" id="product-form">
			<div class="container">
				<div class="row">
				<div class="col form-outline mb-1 mr-2">
					<input type="text" id="form1Example1" name="name" class="form-control" />
					<label class="form-label" for="form1Example1">Product Name</label>
				</div>
				<div class="col form-outline mb-1 mr-2">
					<input type="text" id="form1Example2" name="mrp" class="form-control" />
					<label class="form-label" for="form1Example2">MRP</label>
				</div>
				<div class="col form-outline mb-1 mr-2">
					<input type="text" id="form1Example3" name="barcode" class="form-control" />
					<label class="form-label" for="form1Example3">Barcode</label>
				</div>
			</div>
			<br>
			<div class="row">
				<select id="inputBrand" name="brandName" class="form-select col mr-2" aria-placeholder="Please Choose Brand"></select>
				<select id="inputCategory" name="category" class="form-select col mr-2" disabled>
					<option value="" disabled selected>Select Category</option>
				</select>
				<button type="button" class="btn btn-primary col mr-2" id="add-product">Add Product</button>
			  &nbsp;
			  	<button type="button" class="btn btn-primary col mr-2" id="upload-data">Upload</button>
			</div>
		  </div>
		  </form>
	 </div>	
</div>
<br>
 <!-- Table -->
 <div class="col-12">
	<table class="table table-hover shadow-4-strong rounded-5 mb-2" id="dtBasicExample">
	  <thead>
	    <tr>
	      <th scope="col">S.No.</th>
	      <th scope="col">Product Name</th>
	      <th scope="col">MRP</th>
          <th scope="col">Barcode</th>
          <th scope="col">Brand Name</th>
		  <th scope="col">Category</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Romil Jain</td>
	      <td>30</td>
		  <td>30</td>
		  <td>30</td>
		  <td>30</td>
	      <td>Edit | Delete</td>
	    </tr>
	    <tr>
	      <td>2</td>
	      <td>Rajul Jain</td>
	      <td>31</td>
		  <td>30</td>
		  <td>30</td>
		  <td>30</td>
	      <td>Edit | Delete</td>
	    </tr>
	    <tr>
	      <td>3</td>
	      <td>Anaisha Jain</td>
	      <td>7</td>
		  <td>30</td>
		  <td>30</td>
		  <td>30</td>
	      <td>Edit | Delete</td>
	    </tr>
	  </tbody>
	</table>

</div>
</div>

<!-- Employee Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form-inline" id="product-edit-form">
				
				<div class="form-group">
					<label for="product" class="col-sm-2 col-form-label">Product Name</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="product" name="name" placeholder="Enter Product Name">
					</div>
				  </div>
				
				<div class="form-group">
					<label for="brand" class="col-sm-2 col-form-label">Brand Name</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="brand" name="brandName" placeholder="Enter Brand Name">
					</div>
			  	</div>

				<div class="form-group">
					<label for="category" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="category" name="category" placeholder="Enter Category">
					</div>
				</div>
				<div class="form-group">
					<label for="category" class="col-sm-2 col-form-label">MRP</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="category" name="mrp" placeholder="Enter MRP">
					</div>
				</div>
				<div class="form-group">
					<label for="category" class="col-sm-2 col-form-label">Barcode</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="category" name="barcode" placeholder="Enter Barcode">
					</div>
				</div>
 	        <input type="hidden" name="id" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="update-employee">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- Employee Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="employee-file">
		  <input type="file" class="custom-file-input" id="employeeFile">
		  <label class="custom-file-label" for="employeeFile" id="employeeFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/products.tsv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="process-data">Upload</button>
        <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>

</body>	

</html>