<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

	<br>

 <!-- Top row with form-->
<div class="row">
	 <div class="col">
		<a th:href="@{/ui/brands}" title="Brands">
			<div class="card shadow-4-strong">
			<center>
				<div class="card-body">
			  		<h5 class="card-title">Brands</h5>
			  		<i class="fas fa-building"></i> 
				</div>
			</center>
		  	</div>
		</a>
	 </div>	
	 <div class="col">
		<a th:href="@{/ui/products}" title="Products">
			<div class="card shadow-4-strong">
			<center>
				<div class="card-body">
			  		<h5 class="card-title">Products</h5>
			  		<i class="fas fa-box-open"></i> 
				</div>
			</center>
		  	</div>
		</a>
	 </div>	
	 <div class="col">
		<a th:href="@{/ui/inventory}" title="Inventory">
			<div class="card shadow-4-strong">
			<center>
				<div class="card-body">
			  		<h5 class="card-title">Inventory</h5>
			  		<i class="fas fa-warehouse"></i> 
				</div>
			</center>
		  	</div>
		</a>
	 </div>
	 <div class="col">
		<a th:href="@{/ui/orders}" title="Orders">
			<div class="card shadow-4-strong">
			<center>
				<div class="card-body">
			  		<h5 class="card-title">Orders</h5>
			  		<i class="fas fa-shopping-cart"></i> 
				</div>
			</center>
		  	</div>
		</a>
		
	 </div>
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>