<!doctype html>

<html lang="en">

  <head th:replace="snippets.html :: name_head"></head>

  <body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">

      <br>

      <!-- Top row with form-->
      <div class="row">
        <div class="col-12">
          <form class="form-inline" id="order-form">
            <button type="button" class="btn btn-primary" id="add-order">Create
              New Order</button>
          </form>
        </div>
      </div>


      <br>
      <div class="row">

        <!-- Table -->
        <div class="col-12">
          <table class="table table-hover shadow-4-strong rounded-5 mb-2"
            id="dtBasicExample">
            
            <thead align="center">
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

        </div>
      </div>




      <!-- order Create Modal -->
      <div class="modal" tabindex="-1" role="dialog" id="create-order-modal">
        <div class="modal-dialog" style="max-width: 85%;" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Order</h5>
              <button type="button" class="close" data-mdb-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <form class="form-inline" id="order-create-form" style="padding-bottom:2%;margin-bottom: 2%;">
                    <div class="d-flex justify-content-between" style="margin-bottom: 1%;margin-left:4%">
                        <div class="form-group">
                          <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                          <div class="col-sm-10">
                            <select style="padding-right:60px;" class="form-select form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode">
                            <option selected disabled>Enter Barcode</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputSellingPrice" class="col-sm-2 col-form-label">Selling Price</label>
                          <div class="col-sm-10">
                            <input type="number" required pattern="^\d*(\.\d{0,2})?$" class="form-control" name="mrp" id="inputSellingPrice" placeholder="Enter Selling Price">
                            <div class="invalid-feedback" id="sellingPriceError">Selling price cannot be greater than MRP</div>
                            <div class="valid-feedback" id="sellingPriceValid">MRP:</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                          <div class="col-sm-10">
                            <input type="number" required step="1" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity">
                            <div class="invalid-feedback" id="quantityError">Insufficient Quantity in the Inventory</div>
                            <div class="valid-feedback" id="quantityValid">MRP:</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary" id="add-row">Add Item</button>
                          </div>
                        </div>
                      </div>
                  </form>
                </div>
              </div>

                <table class="table table-striped "
                  id="dtBasicExample-order-create">
                  <thead>
                    <tr>
                      <th scope="col">Barcode</th>
                      <th scope="col">Selling Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="create-order">Create
                  Order</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal" tabindex="-1" role="dialog" id="view-order-modal">
          <div class="modal-dialog" style="max-width:65%;" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">View Order</h5>
                <button type="button" class="close" data-mdb-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-hover shadow-4-strong rounded-5
                  overflow-hidden " id="dtBasicExample2">
                  <thead>
                    <tr>
                      <th scope="col">S.No.</th>
                      <th scope="col">Item Name</th>
                      <th scope="col">Barcode</th>
                      <th scope="col">Order ID</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Selling Price</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-mdb-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>


        <!-- order Edit Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="upload-order-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title">Upload order</h5>
                <button type="button" class="close" data-mdb-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="order-file">
                  <input type="file" class="custom-file-input" id="orderFile">
                  <label class="custom-file-label" for="orderFile"
                    id="orderFileName">Choose file</label>
                </div>
                <a th:href="@{/sample/order.tsv}" target="_blank">Download
                  Sample</a>
                <br>
                Rows: <span id="rowCount">0</span>,
                Processed: <span id="processCount">0</span>,
                Errors: <span id="errorCount">0</span>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                <button type="button" class="btn btn-warning"
                  id="download-errors">Download Errors</button>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- Container end-->

      <footer th:replace="snippets.html :: name_footer"></footer>

      <script th:src="@{/static/order.js}"/></script>

    </body>

  </html>